.Publicized {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    padding: 0 10%;
}
.title {
    font-size: 90px;
}
.head {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 50px;
    padding: 5% 10%;
}
.news {
    display: flex;
    margin: 1rem;

    width: 100%;
    height: 100%;

    background-color: #1d0937;
    border-radius: 20px;
}
.news img {
    width: 500px;
    height: 100%;
    /* padding: 50px; */
}
.doc {
    align-items: center;
}
.doc h1 {
    text-align: center;
    font-size: 30px;
}
.doc p{
    text-align: center;
    font-size: 20px;
}
@media (max-width: 1024px) {
    .title {
        font-size: 70px;
    }
    .Publicized {
        padding: 0px;
    }
}
@media (max-width:768px) {
    .title {
        font-size: 50px;
    }
    .news {
        display: flex;
        flex-direction: column;
    }
    .news img {
        width: 100%;
        height: 100%;
    }
}