.Navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 40px;
    margin: 12px;

    border-radius: 20px;

    backdrop-filter: blur(5px);
    background-color: #1d093750;
    border: 1px solid rgba(80, 80, 80, .3137254902);
}
.Logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}
.Menu_more {
    display: none;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #37126950;
    cursor: pointer;
}
.Menu_more img {
    width: 30px;
    filter: invert(1) brightness(2);
}
.Menu {
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.Menu a, .dropdown_Menu_more li a{
    color: #fff;
    text-decoration: none;
    transition: .3s ease;
}
.dropdown_Menu_more li a {
    font-size: 20px;
}
.Menu a.active1, .dropdown_Menu_more li a.active1 {
    text-decoration: underline;
    color: #0066ff;
}
.Menu a.active2, .dropdown_Menu_more li a.active2 {
    text-decoration: underline;
    color: #f9a31b;
}
.Menu a.button1:hover {
    color: #0066ff;
}
.Menu a.button2:hover {
    color: #f9a31b;
}
.Login {
    width: 120px;
}
.profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-radius: 50px;
    width: 130px;
    transition: .3s ease;

    gap: 7px;
    cursor: pointer;
    background-color: transparent;
}
.profile:hover {
    background-color: #37126950;
}
.down_chevron {
    width: 12px;
    filter: invert(1) brightness(2);
}
.imgProfile img {
    display: flex;
    align-items: center;
    width: 40px;
    border-radius: 50%;
}

.dropdown_Menu_more, .dropdown_down_chevron{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    list-style-type: none;
    padding: 20px 0;
    border-radius: 10px;

    width: 200px;
    backdrop-filter: blur(5px);
    background-color: #37126950;
    border: 1px solid rgba(80, 80, 80, .3137254902);
    gap: 5px;
    transition: .3s ease;
}
.dropdown_Menu_more {
    position: absolute;
    top: 100%;
}
.dropdown_down_chevron {
    position: absolute;
    top: 120%;
    right: 10%;
}
.dropdown_down_chevron li button {
    cursor: pointer;
    font-family: "Kanit", sans-serif;
    border: none;
    border-radius: 2px;
    width: 140px;
    padding: 10px;
}
.dropdown_down_chevron li button:hover {
    background-color: #d3d3d3;
}

@media (max-width: 768px) {
    .Navbar {
        backdrop-filter: blur(0); 
        background-color: transparent;
        border: none;
        padding: 0 15px;
    }
    .Logo {
        display: none;
    }
    .Menu {
        display: none;
    }
    .Menu_more {
        display: flex;
    }
    .profile {
        background-color: #37126950;
    }
    .Login {
        width: 120px;
    }
}