.Navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 40px;
    margin: 12px;

    border-radius: 20px;

    backdrop-filter: blur(5px);
    background-color: #1d093750;
    border: 1px solid rgba(80, 80, 80, .3137254902);
}
.Logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s ease;
}
.Menu_more {
    display: none;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #381269;
    transition: .3s ease;
    cursor: pointer;
}
.Menu_more img {
    width: 30px;
    filter: invert(1) brightness(2);
}
.Menu_more:active {
    background-color: #4a178d;
    transform: scale(0.95);
}
.Menu {
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.dropdown_Menu_more li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    height: 40px;
}
.Menu a, .dropdown_Menu_more li a{
    color: #fff;
    text-decoration: none;
    transition: .3s ease;
    background-color: transparent;
}
.dropdown_Menu_more li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.Menu a.active1, .dropdown_Menu_more li a.active1 {
    text-decoration: underline;
    color: #0066ff;
}
.dropdown_Menu_more li a.active1 {
    background-color: #4a178d;
}
.Menu a.active2, .dropdown_Menu_more li a.active2 {
    text-decoration: underline;
    color: #f9a31b;
}
.dropdown_Menu_more li a.active2 {
    background-color: #4a178d;
}
.dropdown_Menu_more li .button:hover {
    background-color: #331061;
}
.Menu a.button1:hover {
    color: #0066ff;
}
.Menu a.button2:hover {
    color: #f9a31b;
}
.Login {
    width: 120px;
}
.profile {
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-radius: 50px;
    width: 130px;
    transition: .3s ease;

    gap: 7px;
    cursor: pointer;
    background-color: transparent;
}
.profile:hover {
    background-color: #37126950;
}
.down_chevron {
    width: 11px;
    filter: invert(1) brightness(2);
}
.imgProfile img {
    display: flex;
    align-items: center;
    width: 40px;
    border-radius: 50%;
}
.dropdown_Menu_more  {
    display: none;
}
.dropdown_down_chevron {
    display: flex;
}
.dropdown_Menu_more, .dropdown_down_chevron{
    align-items: center;
    justify-content: center;
    flex-direction: column;

    list-style-type: none;
    padding: 20px 0;
    border-radius: 10px;

    width: 200px;
    backdrop-filter: blur(5px);
    background-color: #37126950;
    border: 1px solid rgba(80, 80, 80, .3137254902);
    gap: 5px;
    transition: .3s ease;
}
.dropdown_Menu_more {
    position: absolute;
    top: 105%;
}
.dropdown_down_chevron {
    position: absolute;
    top: 120%;
    right: 10%;
}
.dropdown_down_chevron li button, .customButtonStyle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    width: 140px;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
}
.dropdown_down_chevron li button:hover, .customButtonStyle:hover {
    background-color: #d3d3d3;
}
.dropdown_Menu {
    width: 100%;
}
@media (max-width: 768px) {
    .Navbar {
        backdrop-filter: blur(0); 
        background-color: transparent;
        border: none;
        padding: 0 15px;
    }
    .Logo {
        display: none;
    }
    .Menu {
        display: none;
    }
    .Menu_more {
        display: flex;
    }
    .dropdown_Menu_more {
        display: flex;
    }
    .dropdown_Menu_more, .dropdown_down_chevron {
        background-color: #381269;
    }
    .profile {
        background-color: #381269;
    }
    .profile:hover {
        background-color: #381269;
    }
    .profile:active {
        background-color: #4a178d;
        transform: scale(0.95);
    }
    .Login {
        width: 120px;
    }
}
@media (max-width: 480px) {
    .Menu_more img{
        width: 22px;
    }
    .Login {
        width: 110px;
    }
    .dropdown_Menu_more {
        width: 150px;
        padding: 10px 0;
    }
    .dropdown_Menu_more li {
        font-size: 15px;
        height: 35px;
    }
    .profile {
        font-size: 14px;
        padding: 5px;
        width: 115px;
    }
    .imgProfile img {
        width: 35px;
    }
    .down_chevron {
        width: 10px;
        filter: invert(1) brightness(2);
    }
}