.Form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
}
.main_Form {
    width: 90%;
    background-color: #242424;
    border-radius: 50px;
    margin: 20vh 0;
}
.head_title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px 50px 0 0;
    min-width: 100%;
    min-height: 40vh;
}
.head_title .background {
    position: absolute;
    border-radius: 50px 50px 0 0;
    min-width: 100%;
    min-height: 40vh;

    background-size: cover;
    background-position: center;
    background-image: url(../../../public/imgform.jpg);
    z-index: 1;
}
.head_title .title {
    font-size: 160px;
    z-index: 10;
}
.head_title .title_shadow {
    position: absolute;
    font-size: 160px;
    color: #000;
    filter: blur(50px);
    z-index: 5;
}
.main_sention_Forn, .rule{
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    background-color: #242424;
    border-radius: 0 0 50px 50px;
    gap: 10px;
}
.main_sention_Forn .title, .rule .title{
    font-size: 45px;
    color: #f9a31b;
}
.main_sention_Forn label {
    font-size: 27px;
}
.input {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main_sention_Forn input {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form_Sention {
    display: flex;
    gap: 20px;
}
.select {
    display: flex;
    flex-direction: column;
}
.select select {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    background-color: #fff;
}
.select select:hover {
    border-color: #666;
}
.category_select_position {
    padding-left: 30px;
}
.position {
    display: flex;
    align-items: center;
}
.position label {
    display: inline-block;
    padding-left: 10px;
}
.position input {
    width: 30px;
    height: 30px;
}
.position input[type="radio"]:checked + label {
    color: #007bff;
}
.Button_sention_Next,  .Button_sention_NextBack{
    padding: 25px 80px 50px 80px;
}
.Button_sention_Next {
    display: flex;
    justify-content: end;
}
.Button_sention_NextBack {
    display: flex;
    justify-content: space-between;
}
.Button{
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    transition: .3s ease;
}
.onNext {
    background-color: #007bff;
}
.onNext:hover {
    background-color: #0056b3;
}
.onBack {
    background-color: #ff2222;
}
.onBack:hover {
    background-color: #d50000;
}
.onSubmit {
    background-color: #00cc00;
}
.onSubmit:hover {
    background-color: #008900;
}
.img{
    position: relative;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.img .shadow {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    filter: blur(30px);
    background-color: #0056b3;
    z-index: 0;
}
.img img {
    width: 600px;
    height: 600px;
    border-radius: 20px;
    z-index: 1;
}