.Status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-size: 100px;
}
.Status p {
    font-size: 50px;
}
.input input{
    font-size: 40px;
}