.Status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 10%;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vb;
    gap: 100px;
}
.Status .title {
    font-size: 100px;
}
form {
    min-width: 500px;
    padding: 30px;
    background-color: #242424;
    border-radius: 10px;
}
label {
    font-size: 30px;
    margin-bottom: 5px;
}

input {
    font-size: 40px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.Button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.Button:hover {
    background-color: #0056b3;
}
.datame {
    min-width: 500px;
    min-height: 50vb;
    padding: 30px;
    border-radius: 10px;
    gap: 100px;
    background-color: #242424;
}
.datame .title {
    font-size: 40px;
}
.loading {
    min-height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}