.MainContact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50vb;
    font-size: 100px;
    padding-top: 200px;
}
.container{
    padding: 130px;
}
.contact{
    font-size: 30px;
    padding-bottom: 30px;
}
.item__container {
    max-width: 260px;
    margin: 0 auto;
}
.name {
    text-align: center;
}
table, td, th {  
    border: 1px #ddd;
    text-align: left;
}
  
table {
    width: 100%;
}
th {
    height: 30px;
    width: 650px;
}
.staff_name th{
    color: wheat;
    text-align: center;
    font-size: 30px;

}
.staff_item{
    color: white;

}
.staff_item img{
    height: 200px;
}