.MainContact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10%;
    margin: 12vh 0;
}
.Maintitle {
    font-size: 90px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;

}
.section_Team {
    display: grid;
    gap: 5rem 12rem;
    grid-template-columns: repeat(3, 1fr);
}
.person {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #340f6450, #4b3911);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}
.person h1 {
    font-size: 40px;
}
.person img {
    width: 180px;
    border-radius: 50%;
}
.person p {
    font-size: 20px;
}
.contactimg img {
    width: 30px;
    cursor: pointer;
}
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact a {
    height: 30px;
}
.contact img {
    width: 30px;
    height: 30px;
    transition: .3s ease;
    opacity: 0.5;
}
.contact img:hover {
    width: 35px;
    height: 35px;
    opacity: 1;
}
@media (max-width: 1024px) {
    .section_Team {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact img {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    .contact img:hover {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 480px) {
    .section_Team {
        grid-template-columns: repeat(1, 1fr);
    }
}
