.MainContact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15vh 0;
}
/* .container{
    padding: 130px;
}
.contact{
    font-size: 30px;
    padding-bottom: 30px;
}
.item__container {
    max-width: 260px;
    margin: 0 auto;
}
.name {
    text-align: center;
}
table, td, th {  
    border: 1px #ddd;
    text-align: left;
}
  
table {
    width: 100%;
}
th {
    height: 30px;
    width: 650px;
}
.staff_name th{
    color: wheat;
    text-align: center;
    font-size: 30px;

}
.staff_item{
    color: white;

}
.staff_item img{
    height: 200px;
} */
.Maintitle {
    font-size: 90px;
    padding-bottom: 50px;
}
.section_Team {
    display: grid;
    gap: 100px 300px;
    grid-template-columns: repeat(3, 1fr);
}
.person {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13px;
}
.person h1{
    font-size: 40px;
}
.person img {
    width: 300px;
}
.person p{
    font-size: 30px;
}